
:root {
    --font-family-primary-regular: 'Montserrat';
    --font-faily-primary-semibold: 'Montserrat-SemiBold';
    --font-family-primary-medium: 'Montserrat-Medium';
    --letter-spacing-high : '0.5px';
    --letter_spacing_low : '0.25px';
    --circle-border: 2

}
/* @font-face {
    font-family:  Montserrat;
    src: local( Montserrat-Regular),
      url(./fonts/ Montserrat-regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  
  @font-face {
    font-family:  Montserrat;
    src: local( Montserrat-Medium),
      url(./fonts/ Montserrat-medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  
  }
  
  @font-face {
    font-family:  Montserrat;
    src: local( Montserrat-Semibold),
      url(./fonts/ Montserrat-semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
  }
   */
   @font-face {
    font-family: Montserrat;
    src: local(Montserrat-Light),
     
      url(./fonts/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Montserrat;
    src: local(Montserrat-Regular),
     
      url(./fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Montserrat;
    src: local(Montserrat-Medium),
     
      url(./fonts/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Montserrat;
    src: local(Montserrat-SemiBold),
     
      url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
  }
  